[gcode_macro SUB_MACRO_LONG]
variable_done: false
variable_result: 0
gcode:
  # Beispiel: lange Aktion simulieren (hier nur als Template)
  {% set computed = (params.X|default(3)|float) + 10 %}
  # setze Ergebnis
  SET_GCODE_VARIABLE MACRO=SUB_MACRO_LONG VARIABLE=result VALUE={computed}
  # markiere als fertig
  SET_GCODE_VARIABLE MACRO=SUB_MACRO_LONG VARIABLE=done VALUE=true
  RESPOND PREFIX="SUB_LONG" MSG="done"

[gcode_macro MAIN_MACRO_LONG]
gcode:
  SUB_MACRO_LONG X=4
  {% set tries = 0 %}
  {% while printer["gcode_macro SUB_MACRO_LONG"].done != true and tries < 50 %}
    G4 P100   ; warte 100 ms
    {% set tries = tries + 1 %}
  {% endwhile %}
  {% if printer["gcode_macro SUB_MACRO_LONG"].done == true %}
    {% set val = printer["gcode_macro SUB_MACRO_LONG"].result %}
    RESPOND PREFIX="MAIN_LONG" MSG="Sub finished, result={val}"
  {% else %}
    RESPOND PREFIX="MAIN_LONG" MSG="Timeout waiting for submacro"
  {% endif %}


[gcode_macro TEST]
gcode:
  M117 "Homed Axes:" {printer.toolhead.homed_axes}

[gcode_macro TEST_VARS]
description: "Filament laden mit Materialwahl oder manueller Temperatur"
variable_material: "PLA"
variable_material_temp: 200
gcode:
    {% if params.MATERIAL %}
      {% if params.MATERIAL|upper == "PLA" %}
        M117 Lade PLA bei 200°C
      {% elif params.MATERIAL|upper == "PETG" %}
          M117 Lade PETG bei 240°C
      {% else %}
          M117 Unbekanntes Material: {params.MATERIAL}
      {% endif %}
    {% elif params.TEMP %}
      {% if params.TEMP|int > 0 %}
          M117 Lade manuell bei {params.TEMP}°C
      {% endif %}    
    {% endif %}  

[gcode_macro DUMP_VARIABLES]
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}
    {% set out = [] %}
    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {action_respond_info(out|join("\n"))}


[gcode_macro DUMP_FILAMENT_SENSOR]
description: Debug – dump all filament sensor attributes
gcode:
    {% set fs = printer["filament_switch_sensor filament_sensor"] %}

    {action_respond_info("=== FILAMENT SENSOR DUMP ===")}

    {action_respond_info("enabled: " ~ fs.enabled)}
    {action_respond_info("filament_detected: " ~ fs.filament_detected)}

    {% if fs.runout_distance is defined %}
        {action_respond_info("runout_distance: " ~ fs.runout_distance)}
    {% endif %}

    {% if fs.pause_on_runout is defined %}
        {action_respond_info("pause_on_runout: " ~ fs.pause_on_runout)}
    {% endif %}

    {% if fs.event_delay is defined %}
        {action_respond_info("event_delay: " ~ fs.event_delay)}
    {% endif %}

    {% if fs.switch_pin is defined %}
        {action_respond_info("switch_pin: " ~ fs.switch_pin)}
    {% endif %}

    {% if fs.insert_gcode is defined %}
        {action_respond_info("insert_gcode: defined")}
    {% endif %}

    {% if fs.runout_gcode is defined %}
        {action_respond_info("runout_gcode: defined")}
    {% endif %}

    {% if fs.printer_state is defined %}
        {action_respond_info("printer_state: " ~ fs.printer_state)}
    {% endif %}

    {action_respond_info("=== END FILAMENT SENSOR DUMP ===")}
